.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
}

.movies_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  overflow-y: auto;
  padding: 40px;
  max-width: 1700px;
}

@media (max-width: 750px) {
  .movies_container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
