.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-top: 5px;
  padding: 5px;
  font-size: 12px;
}

.links_container {
  display: flex;
  gap: 10px;
}

.link {
  display: flex;
  align-items: center;
  color: white;
  padding: 5px;
  opacity: 0.5;
}

.link:hover {
  background: #707070;
  border-radius: 8px;
  opacity: 1;
}

.icon {
  height: 16px;
  width: 16px;
  float: left;
  margin-right: 4px;
}
