.container {
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 20px 10px 20px;
  border-bottom: 2px solid white;
}

.title {
  font-size: 40px;
}

.nav_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.nav_button {
  color: white;
}

.nav_button:hover {
}
